.bordes {
    border: 1px solid red;
}
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/*
 #212529;
 #707070;
 #F8F9FA o var(--light);
 #fff o var(--white);
 #28a745 o var(--success);

*/

.barraNavegacion {
    background-color: #28a745;
}

.barra {
    background-color: red;
}
